<app-cabecera></app-cabecera>
<table>
    <tr>
      <th>ID</th>
      <td>{{task.id}}</td>
    </tr>
    <tr>
      <th>Description</th>
      @if(roles.includes('admin')){

        <input [(ngModel)]="task.description" type="text">
      }@else {
        {{task.description}}
      }
    </tr>
    <tr>
      <th>Difficulty</th>
      @if(roles.includes('admin')){

        <select  [(ngModel)]="task.difficulty">
          @for (dificultad of dificultades; track dificultad.valor) {
            
            @if(dificultad.valor==task.difficulty){
              <option selected value="{{dificultad.valor}}">{{dificultad.valor}}</option>
            }
            @else{
              <option value="{{dificultad.valor}}">{{dificultad.valor}}</option>
            }
          }
          
        </select>
      }@else {
        {{task.difficulty}}
      }

    </tr>

    <tr>
        <th>Time_estimated</th>
        <td>
           {{task.time_estimated}}
        </td>
      </tr>


      <tr>
        <th>Time_dedicated</th>
        <td><input [(ngModel)]="task.time_dedicated" type="number"></td>
    
      </tr>
    <tr>
      <th>Progress</th>
    
      
      <td><input (input)="checkDone()" max="100" [(ngModel)]="task.progress" type="number"></td>
    
    </tr>


    <tr>
      <th>Done</th>
    <td>
      @if(roles.includes('admin')){
        <select  [(ngModel)]="task.done"  name="" id="">
          @if (task.done==true) {
            <option value="true" selected >true</option>
            <option value="false" >False</option>
          }@else {
            <option value="true" >completed</option>
            <option value="false" selected >uncompleted</option>
          }
          
        </select>    
      }@else {
          {{task.done}}
      }
    </td>
      
    </tr>
    @if(roles.includes('admin')){
    <tr>
        <th>Assignment</th>
        <select [(ngModel)]="task.assignment">
          @if(task.assignment==null){
            <option value="null" selected>Sin Asingar</option>
              @for (user of users; track user.id) {
                <option value="{{user.id}}">{{user.id+' .'+user.first_name+' '+user.last_name}}</option>
              }
        }@else{
            @for (user of users; track user.id) {

                @if (user.id==task.assignment) {
                    <option selected value="{{user.id}}">{{user.id+' .'+user.first_name+' '+user.last_name}}</option>
                }@else {
                    <option value="{{user.id}}">{{user.id+' .'+user.first_name+' '+user.last_name}}</option>

                }
              } 
        }
      </select>
    </tr>
  }
  </table>
  <button (click)="guardarDatos()">Guardar</button>
  @if(roles.includes('admin')){

    <button style="background-color: red;" (click)="borrarTarea()">Borrar</button>
  }