<app-cabecera></app-cabecera>
<br>
<select (change)="evaluarTabla()" [(ngModel)]="tipoTabla" id="">
<option  value="0" selected>Todas</option>
<option  value="1" >Realizadas</option>
<option  value="2" selected>Sin realizar</option>
</select>
<br>
<br>
<table>
<th>id</th>
<th>description</th>
<th>difficulty</th>
<th>progress</th>
<th>done</th>
@if(roles.includes('admin')){
    <th>assignment</th>
}
    @if(roles.includes('admin')){

        @for (task of tasklist; track task.id) {
        <tr>
            <a routerLink="task/{{task.id}}">
                <td>{{task.id}}</td>
            </a>
                <td>{{task.description}}</td>
                <td>{{task.difficulty}}</td>
                <td>{{task.progress}}</td>
                <td>{{task.done}}</td>
                
                @if (task.assignment==null) {
                    <td>Sin asignar</td>
                }@else {
                    <td>{{task.assignment}}</td>
                }
            </tr>
        }
    }@else{
        @for (task of tasklist; track task.id) {
            @if (task.assignment==uid) {
                <tr>
                    <a routerLink="task/{{task.id}}">
                        <td>{{task.id}}</td>
                    </a>
                    <td>{{task.description}}</td>
                    <td>{{task.difficulty}}</td>
                    <td>{{task.progress}}</td>
                    <td>{{task.done}}</td>
            </tr>
        }
        }
    }
</table>